# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# EyeLink output files
*.asc
*.edf

# Exception for test ASC files
!tests/asc_files/*.asc

roi_data.json

# Virtual environment
.venv/
env/
venv/

# macOS system files
.DS_Store

# IDE/project files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# Keep folders but ignore their contents
/results/*
!/results/.gitkeep

/eye_tracking_data/*
!/eye_tracking_data/.gitkeep
**/.claude/settings.local.json
